<%- include("partials/header.ejs") %>
    <section id="home">
        <div class="container">
            <% if (locals.blogPosted) { %>
                <div class="d-flex justify-content-center align-items-center" id="success-msg">
                    <div class="alert alert-success mt-5 w-50 text-center" role="alert">
                        <%= blogPosted %>
                    </div>
                </div>
            <% } %>

            <% if (locals.blogDeleted) { %>
                <div class="d-flex justify-content-center align-items-center" id="success-msg">
                    <div class="alert alert-success mt-5 w-50 text-center" role="alert">
                        <%= blogDeleted %>
                    </div>
                </div>
            <% } %>
            <div class="row mt-5 pt-5">
                <div class="col-lg-6 mt-5 pt-5" data-aos="fade-right" data-aos-delay="170">
                    <div class="wrapper">
                        <h1 class="text-primary">Blogging Platform</h1>
                        <p class="fs-5 w-75">
                            Write, share, and inspire. Our blogging platform 
                            makes it easy to publish your content and connect 
                            with your audience effortlessly.
                        </p>

                        <% if (!locals.user) {%>
                            <a href="/register" class="btn btn-primary btn-lg rounded-3">
                                Get Started for Free <i class="ms-1 fa-solid fa-right-from-bracket"></i>
                            </a>
                        <% } else { %>
                            <a href="/add-new-post" class="btn btn-primary btn-lg rounded-3">
                                Start Writing&nbsp;<i class="fa-solid fa-pencil"></i>
                            </a>
                        <% } %>

                    </div>
                </div>

                <div class="col-lg-6 mt-5 pt-5" data-aos="fade-left" data-aos-delay="170">
                    <img src="/img/img.png" alt="" class="img-fluid rounded-img">
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        const successMsg = $("#success-msg");
        if (successMsg.length) {
            setTimeout(() => {
                successMsg.fadeOut("slow", function() {
                    $(this).remove();
                });
            }, 5000);
        }
    });
    </script>

<%- include("partials/footer.ejs") %>